body {
    height: 100%;
    margin: 0;
    padding: 0;
    flex-direction: column; 
    justify-content: center;
}

body {
    background-image: url('background2.jpg'); 
    background-size: cover;
    background-repeat: no-repeat; 
    background-position: center;
    font-family: Arial, sans-serif; 
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center; 
    align-items: center;     
    height: 100vh; 
}


h1 {
    text-align: center;
    color: black;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.5em;
    
}

.rectangle{
    background-color: white; 
    width: 30%; 
    max-height:300px;
    padding: 30px;
    margin: 20px auto; 
    text-align: center; 
    border-radius: 10px; 
    z-index: 1;
}

.rectangle2{
    background-color: white; 
    width: 40%; 
    max-height:100px;
    padding: 10px;
    margin: 50px auto 10px auto;
    text-align: center; 
    border-radius: 10px; 
    z-index: 1;
}